    <div class="container" id="main">
	    <div class="row">
      		<div class="col-md-12">
      			<h2><%=template.title%></h2>
                <p>Vanilla. Kickstart your Bootstrap design with these clean templates.</p>
                <hr>
      		</div>
      	</div>
      	<div class="row" id="templates">
      	    
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
        /* load templates */
        
        /*
        
        
        */
        
    });
    </script>