    <div class="container" id="main">
	    <div class="row">
      		<div class="col-md-12">
      			<h2>Starter Templates</h2>
                <p>Vanilla. Kickstart your Bootstrap design with these clean templates.</p>
                <hr>
      		</div>
      	</div>
      	<div class="row" id="templates">
      	    <% for(i in templates) {%>
  			<div class="col-sm-4">
              	<div class="panel panel-default">
                  	<div class="panel-heading"><h3><%=templates[i].title%></h3></div>
                	<div class="panel-body"><img src="<%=templates[i].imageUrl%>" class="img-responsive"></div>
                </div>              
      		</div>
      		 <% } %>
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
        /* load templates */
        
        /*
        $.ajax({
            url: "/api/templates",
            type: "get",
            success: function (data) {
                var id,name,title,short,full,tags,imgUrl,downloadUrl,sourceUrl,previewUrl;
                var col,panel,panel_heading,panel_body,panel_footer;
                var templates = data.templates;
                for (var t in templates) {
                    name = t.name;
                    id = t.id;
                    title = t.title;
                    short = t.short;
                    full = t.full;
                    tags = t.tags;
                    imgUrl = t.imgUrl;
                    downloadUrl = t.downloadUrl;
                    sourceUrl = t.sourceUrl;
                    previewUrl = t.previewUrl;
                    
                    col = $('<div class="col-sm-4"></div>');
                    panel = $('<div class="panel panel-default"></div>');
                  	panel_heading = $('<div class="panel-heading"><h3>'+title+'</h3></div>');
                	panel_body = $('<div class="panel-body"><img src="'+imgUrl+'" class="img-responsive"></div>');
                	panel_footer = $('<div class="panel-footer">'+short+'</div>');
                	
                	panel_heading.appendTo(panel);
                	panel_body.appendTo(panel);
                	panel_footer.appendTo(panel);
                	panel.appendTo(col);
                	col.appendTo('#templates');
                }
            }
        });
        
        */
        
    });
    </script>