    <div id="masthead">  
      <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h1>Bootstrap Templates <p class="lead"><span style="color:#CCFF33;">+Free</span> Themes for Bootstrap</p></h1>
            </div>
            <div class="col-sm-4">
                <div class="well well-lg"> 
                  <div class="row">
                    <div class="col-sm-6">
                      <img class="img-responsive" src="//placehold.it/280x100">
                    </div>
                    <div class="col-sm-6">
    	              
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div><!-- /cont -->
    </div>
    
    <div class="container" id="main">
	    <div class="row">
      		<div class="col-md-12">
      			<h2>Starter Templates</h2>
                <p>Vanilla. Kickstart your Bootstrap design with these clean templates.</p>
                <hr>
      		</div>
      	</div>
      	<div class="row" id="templates">
      	    <% for(i in templates) {%>
  			<div class="col-sm-4">
              	<div class="panel panel-default">
                  	<div class="panel-heading"><h3><%=templates[i].title%></h3></div>
                	<div class="panel-body"><a href="/templates/<%=templates[i].id%>"><img src="<%=templates[i].imgUrl%>" class="img-responsive"></a></div>
                	<div class="panel-footer"><strong><%=templates[i].short%></strong></div>
                </div>              
      		</div>
      		<% } %>
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
        /* load templates */
        
        /*
        
        
        */
        
    });
    </script>