<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title><%=utils.capitalize(title)%></title>
        <meta name="description" content="<%=desc%>" />
        <meta name="generator" content="Bootply" />
        <meta name="keywords" content="bootstrap templates, twitter bootstrap, free templates, responsive" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta property="og:image" content="https://pbs.twimg.com/profile_images/418009884429254656/lpxz9LHr.jpeg" />
        <meta name="google-site-verification" content="3YZMYT6XcVJlav0ZKb7MQrzjnRGApJS8FOsrG4fPrXo" />
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="" type="text/css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/images/bootstrapzero_ico.png">
        <link href="/theme.css" rel="stylesheet">
    </head>
    <body>
    
    <div id="wrap">
    
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="brand" href="http://www.bootstrapzero.com" title="Free templates and themes for Twitter Bootstrap">Bootstrap <span style="color:#f9f9f9;font-weight:200;">Zero</span></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation" id="navbar">
            <% if (path==="/"){ %>
            <ul class="nav navbar-nav">
                <li>
                  <a href="#starters" title="Bootstrap starter templates">Starter Templates</a>
                </li>
                <li>
                  <a href="#custom" title="Custom Bootstrap themes and templates">Themes and Templates</a>
                </li>
            </ul>
            <% } %>
            <ul class="nav navbar-nav navbar-right">
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <li class="tw-btn hidden-xs"><a href="https://twitter.com/BootstrapZero" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @BootstrapZero</a> &nbsp; &nbsp; </li>
                <li><a href="#footer" id="btnAbout">About</a></li>
            </ul>
        </nav>
      </div>
    </header>
    
    <%-body%>        

    </div><!--/wrap-->

    <footer id="footer">
      <div class="container" role="contentinfo">
        <div class="row">
          <div class="col-sm-12">
          	<div class="row">
              <div class="col-md-12">
                <ul class="list-inline">
              	<li><a href="https://github.com/iatek/bootstrap-zero" title="The Bootstrap Templates and Themes Project">GitHub Project</a></li>
              	<li><a href="https://plus.google.com/s/BootstrapZero" title="BootstrapZero on Google Plus" target="ext">Google+</a></li>
              	<li><a href="https://twitter.com/BootstrapZero" title="@BootstrapZero on Twitter" target="ext">Twitter</a></li>
              	<li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-show-count="true" data-url="http://www.bootstrapzero.com" data-related="BootstrapZero" data-text="@BootstrapZero - Incredible free Bootstrap templates and themes http://www.bootstrapzero.com">BootstrapZero</a></li>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </ul>
              </div>
           	</div>
            <div class="row">
              <div class="col-md-12">
              	<ul class="list-inline">
                  <li><a href="http://getbootstrap.com" title="Official Bootstrap Site" rel="nofollow">Bootstrap Docs</a></li>
                  <li><a href="http://expo.getbootstrap.com" title="Showcase of Bootstrap Excellence" rel="nofollow">Expo</a></li>
                  <li><a href="http://bootstrapcdn.com" title="Serve up Bootstrap Faster" rel="nofollow">BootstrapCDN</a></li>
                  <li><a href="http://www.bootply.com" title="Bootstrap Editor and playground" rel="nofollow" target="ext">Bootply</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!--/row-->

        <div class="row">
        	<div class="col-md-12">
              	<p class="text-right">
              	MIT License. Built and Maintained by <a href="">Iatek</a>.
                </p>
          	</div>
        </div><!--/row-->
      </div>
    </footer>

    <!--about modal-->
    <div id="aboutModal" class="modal fade" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h2 class="text-center">About BootstrapZero</h2>
          </div>
          <div class="modal-body">
              
                <p>We love faster and easier Bootstrap development and wanted to make a contribution to the Bootstrap community.
                Originally released in August 2011, Bootstrap and has evolved to become the most popular front-end framework.</p>
                <p>Excited about the release of the "mobile-first" Bootstrap 3.0 in August 2013, we decided to build and share this
                collection of responsive templates that make the most of Bootstrap's powerful grid, CSS and components. Our focus is to
                make templates that adhere to best practices and make use of the Bootstrap baseline as much as possible.
                </p>
                <p>We want to leverage the best of Bootstrap. For now BootstrapZero is templates, but we're building a complete repository of Bootstrap templates, tools, plugins and resources. If you'd like to contribute a open source template or resource for inclusion on BootstapZero, please open a issue at the <a href="https://github.com/iatek/bootstrap-zero">GitHub fork</a>.</p>
                <br><br>
                <p class="text-center">
                     <a href="https://github.com/iatek/bootstrap-zero">BootstrapZero GitHub</a><br>
                     Twitter <a href="http://twitter.com/BootstrapZero">@BootstrapZero</a>
                </p>

          </div>
          <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
          </div>
      </div>
      </div>
    </div>


    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="/pow.js"></script>
    <script type='text/javascript' src="/lazyload.js"></script>
    <script type='text/javascript'>
        
        $(document).ready(function() {
            
            /* highlight the top nav as scrolling occurs */
            $('body').scrollspy({ target: '#navbar' });
            
            $('#btnAbout').click(function(){
                $('#aboutModal').modal('show');
                return false;
            })
            
            /* sunburst effect */
            $('#masthead').pow({
                rays: 30,
                originY:'50%',
                originEl:'#brand',
                bgColorStart: '#563d7c',
                rayColorStart: '#563d7c',
                bgColorEnd: '#563d7c',
                rayColorEnd: '#664e8d',
                sizingRatio: 100
            });
            
            $('[data-original]').lazyload({
            
            });
            
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-46791600-1', 'bootstrapzero.com');
      ga('send', 'pageview');
    </script>    
    </body>
</html>