<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>BootstrapZero</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="" type="text/css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
        <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">

        <style type="text/css">
        body {
        	padding-top: 52px;
          	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          	font-weight: 300;
          	-webkit-font-smoothing: antialiased;
        	background-color:#f9f9f9;
        }
        
        h3 {
          	margin-top:4px;
            margin-bottom:4px;
          	font-size:18px;
        }
        
        h2 {
          	margin-top:30px;
            margin-bottom:5px;
        }
        
        #masthead {
        	min-height:370px;
        	color:#563d7c;
          	background-color:#563d7c;
            background-size:cover;
          	margin-top:0;
            margin-bottom:30px;
            padding-top:20px;
          	text-shadow: 0 1px 1px rgba(0,0,0,.1);
          	font-weight: 500;
          	border:0 solid #ccc;
          	border-top-width:1px;
          	border-top-color:#896fad;
        }
        
        #masthead .lead {
        
        }
        
        #masthead h1 {
        	font-size: 32px;
        	line-height: 1;
          	color:#fff;
          	margin-top:40px;
          	min-height:250px;
          	border-radius:0px;
        
        }
        
        #masthead .well {
        	margin-top:13%;
        	background-color:#563d7c;
          	border-color:#452c6b;
        }
        
        .icon-bar {
        	background-color:#fff;
        }
        
        #main .panel-body {
        	overflow:hidden;
          	padding:0;
        }
        
        @media screen and (min-width: 768px) {
        	#masthead h1 {
        		font-size:40px;
            	padding-top:40px;
            	line-height
        	}
        }
        
        .navbar-bright {
        	background-color:#563d7c;
            color:#CCFF33;
            border-width:0;
          	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
            border-bottom-width:1px;
          	border-bottom-color:#231c6b;
        }
          
        .navbar-bright a {
          	color:#CCFF33;
        }
        
        .navbar-bright li > a:hover {
            background-color:#452c6b;
        }
        
        @media (min-width: 979px) {
            #sidebar.affix-top {
              position: static;
              margin-top:30px;
              width:228px;
            }
            
            #sidebar.affix {
              position: fixed;
              top:70px;
              width:228px;
            }
        
          	#main .panel-body  {
          		min-height:240px;
          		max-height:240px;
        	}
        }
        
        #sidebar li.active {
          	border:0 #eee solid;
          	border-right-width:4px;
        }
        
        footer {
            padding-top:30px;
            padding-bottom:30px;
        	background-color:#563d7c;
        	margin-top:50px;
          	color:#efefef;
        }
        
        footer a {
        	color:#cdbfe3;
        }
        
        section {
        	background-color:#fff;
        }
        
        @media (min-width: 768px) {
        
          	#main .panel-body  {
          		min-height:190px;
          		max-height:190px;
        	}
        }
        </style>
    </head>
    <body>
    
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="brand" href="/" title="Bootstrap starter templates">Bootstrap <span style="color:#f9f9f9;font-weight:200;">Zero</span></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="/themes">Themes</a>
            </li>
            <li>
              <a href="/components">Components</a>
            </li>
            <li>
              <a href="/tools">Tools</a>
            </li>
            <li>
              <a href="/more">More</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    
    <%-body%>        

    <footer>
      <div class="container" role="contentinfo">
        <div class="row">
          <div class="col-sm-12">
          	<div class="row">
              <div class="col-md-12">
                <ul class="list-inline">
              	<li>GitHub Project</li>
                <li>Tweet</li>
                <li>Google+</li>
                <li>Facebook</li>
                </ul>
              </div>
           	</div>
            <div class="row">
              <div class="col-md-12">
              	<ul class="list-inline">
                  <li><a href="">Bootstrap Docs</a></li>
                  <li><a href="">Expo</a></li>
                  <li><a href="">BootstrapCDN</a></li>
                  <li><a href="">Bootply</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!--/row-->

        <div class="row">
        	<div class="col-md-12">
              	<p class="text-right">
              	GPL License. Built and Maintained by <a href="">Iatek</a>.
                </p>
          	</div>
        </div><!--/row-->
      </div>
    </footer>

    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type='text/javascript'>
        
        $(document).ready(function() {
            $.getScript('https://raw.github.com/greim/pow.js/master/pow.js',function(){
  
              $('#masthead').pow({
                rays: 30,
                originY:'50%',
                originEl:'#brand',
                bgColorStart: '#563d7c',
                rayColorStart: '#563d7c',
                bgColorEnd: '#563d7c',
                rayColorEnd: '#664e8d',
                sizingRatio: 100
              });
              /*
              setTimeout(function(){
                      $('body').pow({
                              rays: 30,
                              originY:'50%',
                              originEl:'',
                              bgColorStart: '#fff',
                              rayColorStart: '#fefefe',
                              bgColorEnd: '#fff',
                              rayColorEnd: '#f9f9f9',
                              sizingRatio: 100
                      });
              },2000);
              */
            });
        });
        </script>
        
    </body>
</html>