<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>Bootstrap Templates - Free Themes and Templates at Bootstrap Zero</title>
        <meta name="description" content="Bootstrap Zero is the home of Bootstrap templates and themes. Use these free, responsive templates to kickstart your Twitter Bootstrap project." />
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="" type="text/css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
        <link href="/theme.css" rel="stylesheet">
    </head>
    <body>
    
    <div id="wrap">
    
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="brand" href="/" title="Free templates and themes for Twitter Bootstrap">Bootstrap <span style="color:#f9f9f9;font-weight:200;">Zero</span></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation" id="navbar">
            <% if (path==="/"){ %>
            <ul class="nav navbar-nav">
                <li>
                  <a href="#starters" title="Bootstrap starter templates">Starter Templates</a>
                </li>
                <li>
                  <a href="#custom" title="Custom Bootstrap templates">Custom Templates</a>
                </li>
            </ul>
            <% } %>
            <ul class="nav navbar-nav navbar-right">
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <li class="tw-btn hidden-xs"><a href="https://twitter.com/BootstrapZero" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @BootstrapZero</a> &nbsp; &nbsp; </li>
                <li><a data-target="#aboutModal" data-toggle="modal">About</a></li>
            </ul>
        </nav>
      </div>
    </header>
    
    <%-body%>        

    </div><!--/wrap-->

    <footer>
      <div class="container" role="contentinfo">
        <div class="row">
          <div class="col-sm-12">
          	<div class="row">
              <div class="col-md-12">
                <ul class="list-inline">
              	<li><a href="https://github.com/iatek/bootstrap-zero" title="Free Bootstrap Templates Project">GitHub Project</a></li>
              	<li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-show-count="true" data-url="http://www.bootstrapzero.com" data-related="BootstrapZero">BootstrapZero</a></li>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </ul>
              </div>
           	</div>
            <div class="row">
              <div class="col-md-12">
              	<ul class="list-inline">
                  <li><a href="http://getbootstrap.com" title="Official Bootstrap Site">Bootstrap Docs</a></li>
                  <li><a href="http://expo.getbootstrap.com" title="Showcase of Bootstrap Excellence">Expo</a></li>
                  <li><a href="http://bootstrapcdn.com" title="Serve up Bootstrap Faster">BootstrapCDN</a></li>
                  <li><a href="http://www.bootply.com" title="Bootstrap Editor and playground">Bootply</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!--/row-->

        <div class="row">
        	<div class="col-md-12">
              	<p class="text-right">
              	GPL License. Built and Maintained by <a href="">Iatek</a>.
                </p>
          	</div>
        </div><!--/row-->
      </div>
    </footer>

    <!--about modal-->
    <div id="aboutModal" class="modal fade" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h2 class="text-center">About BootstrapZero</h2>
          </div>
          <div class="modal-body">
              
                <p>A contribution to the Bootstrap community. Originally released in August 2011, Bootstrap and has evolved to become the most popular open source frontend framework.</p>
                <p>Excited about the release of the "mobile-first" Bootstrap 3.0 in August 2013, we decided to build and share this
                collection of responsive templates that make the most of Bootstrap's powerful grid, CSS and components.
                Feel free to fork <a href="https://github.com/iatek/bootstrap-zero">BootstrapZero on GitHub</a>. 
                </p>
                <p>For now BootstrapZero is templates, but we're building a complete repository of Bootstrap templates, tools, plugins and resources. If you'd like to contribute a open source template or resource for inclusion on BootstapZero, please open a issue at the <a href="https://github.com/iatek/bootstrap-zero">GitHub fork</a>.</p>
                <br><br>
                <p class="text-center">
                    
                </p>

          </div>
          <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
          </div>
      </div>
      </div>
    </div>


    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="/pow.js"></script>
    <script type='text/javascript'>
        
        $(document).ready(function() {
            
            /* highlight the top nav as scrolling occurs */
            $('body').scrollspy({ target: '#navbar' })
            
            /* sunburst effect */
            $('#masthead').pow({
                rays: 30,
                originY:'50%',
                originEl:'#brand',
                bgColorStart: '#563d7c',
                rayColorStart: '#563d7c',
                bgColorEnd: '#563d7c',
                rayColorEnd: '#664e8d',
                sizingRatio: 100
            });
        });
        </script>
        
    </body>
</html>