<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>Bootstrap Templates - BootstrapZero</title>
        <meta name="description" content="Bootstrap Zero is the home of Bootstrap templates and themes. Use these free, responsive templates to kickstart your Twitter Bootstrap project." />
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="" type="text/css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
        <link href="/theme.css" rel="stylesheet">
    </head>
    <body>
    
    <div id="wrap">
    
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="brand" href="/" title="Bootstrap starter templates">Bootstrap <span style="color:#f9f9f9;font-weight:200;">Zero</span></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">Templates</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    
    <%-body%>        

    </div><!--/wrap-->

    <footer>
      <div class="container" role="contentinfo">
        <div class="row">
          <div class="col-sm-12">
          	<div class="row">
              <div class="col-md-12">
                <ul class="list-inline">
              	<li>GitHub Project</li>
                <li>Tweet</li>
                <li>Google+</li>
                <li>Facebook</li>
                </ul>
              </div>
           	</div>
            <div class="row">
              <div class="col-md-12">
              	<ul class="list-inline">
                  <li><a href="">Bootstrap Docs</a></li>
                  <li><a href="">Expo</a></li>
                  <li><a href="">BootstrapCDN</a></li>
                  <li><a href="">Bootply</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!--/row-->

        <div class="row">
        	<div class="col-md-12">
              	<p class="text-right">
              	GPL License. Built and Maintained by <a href="">Iatek</a>.
                </p>
          	</div>
        </div><!--/row-->
      </div>
    </footer>

    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type='text/javascript'>
        
        $(document).ready(function() {
            $.getScript('https://raw.github.com/greim/pow.js/master/pow.js',function(){
  
              $('#masthead').pow({
                rays: 30,
                originY:'50%',
                originEl:'#brand',
                bgColorStart: '#563d7c',
                rayColorStart: '#563d7c',
                bgColorEnd: '#563d7c',
                rayColorEnd: '#664e8d',
                sizingRatio: 100
              });
              /*
              setTimeout(function(){
                      $('body').pow({
                              rays: 30,
                              originY:'50%',
                              originEl:'',
                              bgColorStart: '#fff',
                              rayColorStart: '#fefefe',
                              bgColorEnd: '#fff',
                              rayColorEnd: '#f9f9f9',
                              sizingRatio: 100
                      });
              },2000);
              */
            });
        });
        </script>
        
    </body>
</html>