        html,
        body {
          height: 100%;
        }
        
        body {
        	padding-top: 50px;
          	font-family: 'Roboto',sans-serif;
          	-webkit-font-smoothing: antialiased;
        	background-color: #dae3e7;
        	color:#434343;
        }
        
        h3 {
          	margin-top:4px;
            margin-bottom:4px;
          	font-size:18px;
          	font-family: 'Roboto',sans-serif;
        }
        
        h2 {
          	margin-top:30px;
            margin-bottom:5px;
            font-family: 'Roboto',sans-serif;
        }
        
        h1 {
            font-family: 'Roboto',sans-serif;
        }
        
        hr {
            border-color: transparent;
        }
        
        .label {
            font-weight: 400;
        }
        
        img {
            -webkit-animation: fadein 2.5s; /* Safari and Chrome */
            -moz-animation: fadein 2.5s; /* Firefox */
            -ms-animation: fadein 2.5s; /* Internet Explorer */
            -o-animation: fadein 2.5s; /* Opera */
            animation: fadein 2.5s;
        }
            
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Firefox */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Safari and Chrome */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Opera */
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Wrapper for page content to push down footer */
        #wrap {
          min-height: 100%;
          height: auto !important;
          height: 100%;
          /* Negative indent footer by its height */
          margin: 0 auto -180px;
          /* Pad bottom by footer height */
          padding: 0 0 180px;
        }
        
        #masthead {
        	min-height: 350px;
          	background-color: #32383e;
            background-size: cover;
          	margin-top:0;
            margin-bottom:30px;
            padding-top:20px;
          	text-shadow: 0 1px 1px rgba(0,0,0,.1);
          	font-weight: 500;
          	border:0 solid #ccc;
          	border-top-width: 1px;
          	border-top-color: #21272d;
        }
        
        #masthead h1 {
        	font-size: 32px;
        	line-height: 1;
          	color: #fff;
          	margin-top: 40px;
          	border-radius: 0px;
          	font-family: 'Roboto',sans-serif;
          	font-weight: 300;
        }
        
        #masthead .well {
        	margin-top:3%;
        	background-color: #21272d;
          	border-color: #30363c;
        }
        
        #masthead p  {
        	color: #f8f8f8;
        	font-weight: 300;
        }
        
        .icon-bar {
        	background-color:#fff;
        }
        
        #main a,#main a:link {
            color: #444;
        }
        
        #main a:hover {
            color: #341b5a;
            text-decoration:none;
        }
        
        #main .btn, #main .btn:hover {
            color:#fff;
        }
        
        #main > .row {
            padding-top:40px;
        }
        
        #main .panel-body {
        	overflow:hidden;
          	padding:0;
        }
        
        #main .col-sm-4 {
            padding-bottom:30px;
        }
        
        #main .panel {
            border-color: #e6e6e6;
            border-radius: 0;
            border-width: 0;
            border-top-width: 0;
            border-left-width: 0;
            box-shadow: 0 0 0 rgba(0,0,0,0.08);
        }

        #main .panel-heading {
            border-bottom-width:0;
        }
        
        @media screen and (min-width: 768px) {
        	#masthead h1 {
        		font-size:46px;
            	padding-top:40px;
        	}
        	#masthead .well {
        	    margin-top:13%;
            }
        }
        
        .label {
            line-height: 25px;
        }
        
        .navbar-bright {
        	background-color: #21272d;
            color :#ddd;
            border-width:0;
          	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
            border-bottom-width: 0;
        }
          
        .navbar-bright a {
          	color: #bbb;
        }
        
        .navbar-bright li > a {
            
        }
        
        @media (max-width: 979px) {
            .navbar-bright .dropdown-menu li > a {
                color: #ddd;
            }
        }
        
        .navbar-bright li > a:hover, .navbar-bright li.active > a, .navbar-bright .nav .open>a, .navbar-bright .nav .open>a:hover, .navbar-bright .nav a:focus {
            background-color: #32383e;
            border-color: transparent;
        }
        
        .navbar-bright .dropdown-menu>li>a:hover {
            color:#eee;
        }
        
        @media (min-width: 979px) {
            #sidebar.affix-top {
              position: static;
              margin-top:30px;
              width:228px;
            }
            
            #sidebar.affix {
              position: fixed;
              top:70px;
              width:228px;
            }
        
          	#main .panel-body  {
          		min-height:240px;
          		max-height:240px;
        	}
        }
        
        #sidebar li.active {
          	border:0 #eee solid;
          	border-right-width:4px;
        }
        
        footer {
            padding-top: 30px;
            padding-bottom: 30px;
        	background-color: #21272d;
        	margin-top:50px;
          	color:#efefef;
          	height: 180px;
        }
        
        footer a {
        	color: #ccc;
        }
        footer a:hover {
        	color: #ddd;
        }
        
        section {
        	background-color:#fff;
        }
        
        .panel-footer strong {
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow: hidden;
        }
        
        @media (min-width: 768px) {
        
          	#main .panel-body  {
          		min-height:190px;
          		max-height:190px;
        	}
        }
        
        .tw-btn {
            margin-top: 15px;
        }
        
        .list-inline>li {
            vertical-align: middle;
        }
        
        .navbar-toggle {
            outline:0;
        }
        
        .fa-4 {
            font-size: 2em;
        }
        
        .label-bright {
            background-color:#CCFF33;
            color:#563d7c;
        }
        
        .carbonad {
            background: transparent !important;
            background-image: none !important;
            border: 0 !important;
        }